<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Page</title>
</head>
<body>
    <h1> OTP send to your </h1>
    <h3>Please enter your OTP </h3>
    <form method="post">
        {% csrf_token %}
        <label>OTP</label>
        <input type="text" name="otp"><br><br>
        <input type="submit" value="submit">
    </form>
    
</body>
</html>

{% for message in messages %}
    {% if message.tags == "error" %}
        <span style="color: red;">{{message}}</span>
    {% elif message.tags == "success" %}
        <span style="color: green;">{{message}}</span>
    {% else %}
    <span style="color: blue;">{{message}}</span>
    {% endif %}
{% endfor %}    
